.testimonials__wrapper{
    padding: 100px 35px;
    display: flex;
}
.patients{
    border-radius: 20px;
}

.testimonials__content{
    padding: 50px 0px 0px 28px;
    max-width: 620px;
    .test-subtitles{
        text-align: left;
    }
    .test-title{
        text-align: left;
    }
    .quote{
        padding: 42px 0px 24px 0px;
    }
    .citate{
        font-family: $main-font;
        font-style: italic;
        font-weight: 600;
        line-height: 25.2px;
        text-align: left;
        font-size: 18px;
        color: #888888;
        white-space: nowrap;
    }
}
.avtor-wrapper_2{
    padding: 30px 0px;
}